@import './utilts/variables';
@import './components/basic';
@import './components/placeholder';
@import './components/header';
@import './components/mobile-menu';
@import './components/banner';
@import './components/backdrop';
@import './components/advantages';
@import './components/services';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/portfolio';