.advantages {
  @extend %margin-top;
  display: flex;
  gap: 30px;
  &__item {
    max-width: 270px;
  }
  &__card {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: $portfolio-button-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
