.advantages {
  @extend %margin-top;
  h3 {
    text-align: center;
  }
  &__list {
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    @media (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  &__item {
    width: 100%;
    @media (min-width: 768px) {
      width: calc(50% - 15px);
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  &__card {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: $portfolio-button-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
