.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $animation-time $cubic;
  &__is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: calc(100% - 30px);
    @media (min-width: 480px) {
      min-width: 528px;
      min-height: 536px;
    }

    background-color: $color-white;
    border-radius: 4px;
  }
  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $headers-color;
  }
  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $color-white;
    cursor: pointer;
  }
  &__icon--close {
    fill: $color-black;
    width: 11px;
    height: 11px;
    transition: fill $animation-time $cubic;
  }
  &__button:hover &__icon--close,
  &__button:focus &__icon--close {
    fill: $accent-color;
  }
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__label {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $light-grey-color;
  }
  &__input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: border $animation-time $cubic;

    &:hover,
    &:focus {
      border-color: $accent-color;
    }
  }
  &__label:focus-within &__input {
    border-color: $accent-color;
  }
  &__field-icon {
    position: absolute;
    overflow: visible;
    top: 29px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: $headers-color;

    transition: fill $animation-time $cubic;

    &:hover {
      fill: $accent-color;
    }
  }
  &__label:hover &__field-icon {
    fill: $accent-color;
  }

  &__label:focus-within &__field-icon {
    fill: $accent-color;
  }
  &__input-comment {
    resize: none;
    min-height: 120px;
    padding: 12px 16px;
    font-family: 'Roboto', sans-serif;
  }
  &__input-comment::placeholder {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &__agreements {
    margin-left: 12px;
    margin-top: 20px;
  }
  &__notation {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    letter-spacing: 0.03em;
    line-height: 1.71;
    color: $light-grey-color;
    cursor: pointer;

    font-size: 12px;
    @media (min-width: 480px) {
      font-size: 14px;
    }
  }
  &__text {
    display: flex;
    flex-wrap: wrap;
  }
  &__insert {
    appearance: none;
    position: absolute;
    opacity: 0;
  }

  &__box {
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid $headers-color;
    border-radius: 2px;
    transition: background-color $animation-time $cubic,
      border $animation-time $cubic;
  }
  &__agree-icon {
    display: none;
    @media (min-width: 480px) {
      position: absolute;
      left: 2px;
      width: 13px;
      height: 12px;
    }

    fill: transparent;
    transition: fill $animation-time $cubic;
  }
  &__insert:checked + &__box {
    background-color: $accent-color;
    border-color: $accent-color;
    @media (max-width: 476px) {
      background-image: url(../../images/check.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__insert:checked ~ &__agree-icon {
    fill: $color-white;
  }
  &__terms {
    margin-left: 0.5em;

    font-size: 12px;
    @media (min-width: 480px) {
      font-size: 14px;
    }
    color: $accent-color;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  &__submit {
    display: block;
    margin: 30px auto 0;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: $accent-color;
    color: $color-white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color $animation-time $cubic;
  }
}
