.banner {
  background-color: $background-color;

  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4)),
    url(../images/bckgrnd-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    color: $color-white;
    font-weight: 900;
    font-size: 26px;
    line-height: 162%;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 44px;
      line-height: 136%;
    }
  }
  &__button {
    margin-top: 45px;
    padding: 10px 24px;
    @media (min-width: 768px) {
      padding: 10px 32px;
    }

    color: $color-white;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;

    transition: background-color $animation-time $cubic;

    &:hover,
    &:focus {
      background-color: $accent-color-hover;
    }
  }
}
