*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {    
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;

  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
}
h3 {
  color: $headers-color;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
p {
  color: $light-grey-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}