.clients {
  @extend %margin-top;
  &__title {
    @extend %title;
  }
  &__list {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    @media (max-width: 767px) {
      width: calc(50% - 15px);
    }
    
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    height: 92px;
    
    fill: $color-icons;
    border: 1px solid $color-icons;
    border-radius: 4px;

    transition: border $animation-time $cubic, fill $animation-time $cubic;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      fill: $accent-color;
    }
    
    @media (min-width: 768px) {
      width: 170px;
    }
  }
}
