.clients {
  @extend %margin-top;
  &__title {
    @extend %title;
  }
  &__list {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: grid;
      grid-template-columns: 33% 33% 33%;
    }
  }
  &__item {
    @media (max-width: 768px) {
      width: calc(50% - 15px);
    }
  }
  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    height: 92px;
  

    fill: $color-icons;
    border: 1px solid $color-icons;
    border-radius: 4px;

    transition: border $animation-time $cubic, fill $animation-time $cubic;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      fill: $accent-color;
    }

    @media (min-width: 1200px) {
      width: 170px;
    }
  }
}
