.header {
 
  border-bottom: 1px solid $border-bottom-color;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
  }

  &__burger {
    @media (min-width: 768px) {
      display: none;
    }
    margin-left: auto;
  }

  &__pages a {
    color: var(--headers-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;

    transition: color $animation-time $cubic;
  }
  &__logo {
    @extend %logo;
    margin-right: 93px;
    &-text--accent {
      color: $accent-color;
    }
    &-text--black {
      color: $color-black;
    }
  }
  &__pages {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__pages a {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__link {
    position: relative;
    padding: 32px 0;
    &--select {
      color: $accent-color;
    }
  }
  &__link--select::after {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateY(1px);

    display: block;
    width: 48px;
    height: 4px;
    margin: 0;
    background-color: $accent-color;
    border-radius: 2px;
    width: 100%;
  }
  &__info {
    margin-left: auto;
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  &__item {
    color: $light-grey-color;
  }
  &__connection {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: $light-grey-color;

    transition: color $animation-time $cubic, fill $animation-time $cubic;
  }
  &__connection:hover,
  &__connection:focus {
    color: $accent-color;
  }
  &__icon {
    fill: currentColor;
    transition: fill $animation-time $cubic;
  }
  &__pages,
  &__info {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
