%logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
%margin-top {
  margin-top: 94px;
}
%title {
  color: $headers-color;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
