.services {
  @extend %margin-top;
  &__title {
    @extend %title;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    position: relative;
    display: inline-block;
  }
  &__signatures {
    position: absolute;
    bottom: 4px;
    
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;

    display: block;
    margin: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    
  }
}
