.team {
  @extend %margin-top;
  &__title {
    @extend %title;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
       flex-direction: row;
    }
    @media (min-width: 1200px) {
     flex-direction: row;
     flex-wrap: nowrap;
    }
  }
  &__item {
    width: 100%;
     @media (min-width: 768px) {
      width: calc(50% - 15px);
    }
    padding-bottom: 30px;
    background-color: $color-white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }
  &__list {
    fill: $color-icons;
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__button {
    display: block;
    background-color: transparent;
    border-radius: 50%;
    width: 44px;
    height: 44px;

    transition: background-color $animation-time $cubic,
      fill $animation-time $cubic;
  }
  &__icon {
    margin: 12px;
  }
  &__list &__button:hover,
  &__list &__button:focus {
    background-color: $accent-color;
    fill: $color-white;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__position {
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
