$accent-color: #2196f3;
$accent-color-hover: #188ce8;
$headers-color: #212121;
$light-grey-color: #757575;
$background-color: #2f303a;
$background-our-team-color: #f5f4fa;
$info-footer-color: rgba(255, 255, 255, 0.6);
$color-white: #fff;
$color-black: #000;
$portfolio-button-color: #f5f4fa;
$border-bottom-color: #ececec;
$border-cards-color: #eeeeee;
$color-icons: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 250ms;
